%h4 Hi there
%p Gisted lets you quickly get to your gists via search. You will need to log into GitHub via OAuth first.

%p= link_to "Search my gists", search_gists_path
%p= link_to "Login", login_path
%p= link_to "Logout", logout_path
