%span.site-logo(style="margin-top: -3px;")
  Gisted

.topsearch.command-bar-activated
  Quickly search your
  = link_to "GitHub gists.", "http://gist.github.com"
  Login
  = link_to "with OAuth", "/auth/github"
  to get started.

/ .reference
/   = image_tag "http://f.cl.ly/items/2Y1c2z2c0Y3k0k2f3g0x/Image%202012-10-19%20at%203.02.25%20PM.png"