%span.site-logo(style="margin-top: -3px;")
  Gisted

.topsearch.command-bar-activated
  Quickly search your
  = link_to "GitHub gists.", "http://gist.github.com"
  Login
  = link_to "with OAuth", "/auth/github"
  to get started.