- if !params[:q].blank?
  - if @results.size > 0
    - for result in @results
      .choice
        %span.command= search_result_link(result)
        %span.description= pluralize(result.comment_count, "comments")
    .hints
      %em keyboard:
      ↑ = up, ↓ = down, enter = follow link, / = search
  - else
    .choice
      %span.command= "No results for \"#{params[:q]}\". Bummer."